%h2 New Recipe

%form{:action => "/users/#{@user.id}/recipes", :method => "post", :enctype => "multipart/form-data"}
  .form-group
    %label(for="title")Title:
    %input{:type => "text", :name => "title", :id => "title", :class => "form-control"}
  .form-group
    %label(for="author")Author:
    %input{:type => "text", :name => "author", :id => "author", :value =>"#{@user.username}", :class => "form-control"}
    %input{:name => "user_id", :id => "user_id", :value => "#{@user.id}", :hidden => true}
  .form-group
    %label{:for => "image"}Image:
    %input{:type => "file", :name => "image", :id => "image", :class => "form-control"}
  .form-group
    %label(for="category") Category:
    %select{:name => "category", :class => "form-control"}
      %option{:value => "Breakfast"} Breakfast
      %option{:value => "Dinner"} Dinner
      %option{:value => "Desserts"} Desserts
      %option{:value => "Lunch"} Lunch
      %option{:value => "Snacks"} Snacks
      %option{:value => "Soups"} Soups
      
  .form-group
    %h4 Ingredients:
    %div#ingredients
      .row
        .col-sm-4
          %input{:type => "text", :name => "recipe[ingredient][][name]", :id => "ing_name", :placeholder => "Flour", :class => "form-control"}
        .col-sm-1
          %input{:type => "text", :name => "recipe[ingredient][][quantity]", :id => "ing_qty", :placeholder => "3", :class => "form-control"}
        .col-sm-2
          %select.form-control{:name => "recipe[ingredient][][qty_type]"}
            %option{:value => "cups"} Cups
            %option{:value => "oz"} Ounces
            %option{:value => "lbs"} Lbs
            %option{:value => "grams"} Grams
            %option{:value => "kilograms"} Kilograms
            %options{:value => "liters"} Liters
  %a.btn.btn-primary{:href => "javascript:void(0)", :id => "add_ing_button"} Add New Ingredient
  .form-group
    %label(for="procedure")Procedure:
    %textarea{:name => "procedure", :id => "procedure", :rows => 10, :cols => 10, :class => "form-control"}
  .form-group
    %input{:type => "submit", :value => "Create Recipe", :class => "btn btn-primary"}
    %a{:href => "/users/#{session[:user_id]}/recipes", :class => "btn btn-default"}Cancel